image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: ""

serviceAccount:
  annotations: {}

podLabels: {}
podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

hostNetwork: false

ports: []
# - name: ""
#   containerPort: 0
#   protocol: TCP

health:
  enabled: true
  startupProbeSeconds: 30
  port: main
  type: HTTP
  path: /

ingress:
  host: ""
  path: /
  public: false
  publicPath: /
  port: main
  annotations: {}

replicas: 1
strategyType: Recreate

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

terminationGracePeriodSeconds: 30

command: []
args: []

envs: []

secretEnvs: []

configMaps: []
# - name: ""
#   defaultMode: 0644
#   mountPath: ""
#   subPath: ""
#   content: ""

hostPaths: []
# - name: ""
#   hostPath: ""
#   containerPath: ""
#   readOnly: false
#   type: "DirectoryOrCreate"

envsubst:
  image:
    repository: nixery.dev/shell/envsubst
    tag: "latest"
  files: []
  # - src:
  #   dest:

database:
  enabled: false
  resources: {}
  hostPath: ""
  rootPassword: ""
  userPassword: ""
  type: mariadb
  mariadb:
    image:
      repository: mariadb
      tag: "12.0.2@sha256:607835cd628b78e2876f6a586d0ec37b296c47683b31ef750002d3d17d3d8f7a"
    backup:
      schedule: "0 4 * * *"
      image:
        repository: fradelg/mysql-cron-backup
        tag: "latest@sha256:d9b9b1514ef5f879031ea88c656c0b64acb98bb787f401c2fc3f62ed6fafb308"
  postgresql:
    image:
      repository: postgres
      tag: "18.1@sha256:1477c9abe8bb7204b6d8ae3c2aa1a96408a535854fab9a289ca91bfcdc7d414d"
    backup:
      schedule: "0 4 * * *"
      image:
        repository: prodrigestivill/postgres-backup-local
        tag: "18@sha256:f70742ebe42b2277689b028d1fd15aa80f77cffa01da163cc9f85a6ff1866e7f"

helper:
  image:
    repository: busybox
    tag: "1.37.0@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee"

homepage:
  name: ""
  description: ""
  group: ""
  icon: ""
  weight: 50
  widgetType: ""
