.psenvrc
Makefile
*.png
**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env

# py
node_modules
src
public

# npm
node_modules
npm-debug.log

# java
target/