<!-- honlap elemek blokkol össszeépítésést jinja template-ben inheritance-nek hívja 
vesszük az alap osztályt, itt index.html és annak bizonyos pontját írjuk felül
-->
{% extends 'index.html' %}

{% block content %}

    <h2 class="my-5">
        Új kurzus regiszrációja
    </h2>
    <!-- action= nem kell megadni semmit, forms.py osztály által kezelve lesz-->
    <form action="" method="POST">
        <!-- átadjuk a form objektumot, hiddent_tag metódus teszi lehetővé a titkosított kapcsolatot -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add meg a kurzus adatait!</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control-label form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.teacher.label(class="form-control-label") }}
                {{ form.teacher(class="form-control-label form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.date.label(class="form-control-label") }}
                {{ form.date(class="form-control-label form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-secondary") }}
        </div>
    </form>

{% endblock %}
