apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 35.6.0
    helm:
      values: |
        service:
          type: LoadBalancer
          spec:
            loadBalancerIP: 192.168.0.101
        ports:
          web:
            port: 80
          websecure:
            port: 443
        ingressRoute:
          dashboard:
            enabled: false
        logs:
          general:
            level: INFO
        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
